@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

/* Navigation bar */
.nav-link-text{
  color: #000019;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-link-text:hover{
  /* color:#0C5CD3; */
  color:#DC3545;
}

.navbar .navbar-brand span{
  color:#DC3545;
}
.navbar-brand{
  color: #002D5B;
  font-size: 2.5rem;
  font-family: 'Palette Mosaic', cursive;
}

.navbar-brand:hover{
  /* color:#0C5CD3; */
  color:#DC3545;
}

.navbar{
  padding: 1% 5%;
  font-family: 'Montserrat-Bold', sans-serif;
}

/* Title */
#title{
  /* background-color: #C6C2C5; */
  background-color: #BBE1FA;
  padding:10% 0 8% 0%;
  text-align: left;
  font-family: 'Ubuntu',sans-serif;
}

.title-text1{
  font-size:1.688rem;
  font-weight: 500;
}

.title-text2{
  font-size: 2.5rem;
}

.container .title-text2 em{
  color:#DC3545;
}

.big-heading{
  color: #002D5B;
  padding-bottom: 3%;
  font-size:4.5rem;
}

.container{
  padding: 4% 0 0 4%;
}

.title-img{
  position: absolute;
  right:12%;
  top:25%;
  /* bottom:1%; */
}

.title-btn{
    margin: 1% 5% 5% 0;
    padding: 1% 2%;
}

#footer{
  background-color: #F8F9FA;
  padding: 1% 0;
  text-align: center;
  position: relative;
}

.footer-icons {
  margin-top: 2%;
  margin-right: 2.5%;
  margin-bottom: 2%;
}

.copyright-text{
  font-size: 0.8rem;
  margin-right: 2%;
}

/* Project.html */
#title-project{
  background-color: #BBE1FA;
  padding:5% 10% 3%;
  text-align: left;
}

 .card{
   margin:5% auto;
  padding:0;
  text-align:center;
}

.card:hover{
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}
.title-btn-project{
  padding:1% 4% 2% 3% ;
  margin-top: 4%;
}

.project-heading-text{
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #002D5B;;
   line-height: 0.1em;
   margin: 10px 0 20px;
   font-size: 3.5rem;
}

.project-heading-text span{
  background:#BBE1FA;
  color: #002D5B;
  padding:0 10px;
}

.project-heading{
  padding-bottom:7%;
}

 @media(max-width:1274px){
  /* Project */
  /* #title-project{
    padding:6% 4% 3%;
  }

  .project-heading-text{
    font-size: 3rem;
  }
  .card{
    margin-bottom: 10%;
  }*/


}
@media(max-width:990px){
  .title-img{
    display: none;
   }

  .container{
    padding-left: 13%;
  }
}
@media (max-width:650px){
  /* Project.html */
  #title-project{
    padding:9% 3% 3%;
  }
  .card{
    width:70%;
    margin-bottom: 10%;
  }
  .project-heading{
    padding-bottom:12%;
  }
}
