body{
  color:#40514E;
  font-family: 'Merriweather', serif;
  font-size: 1em;
  margin:0;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #66BFBF;

}

li {
  display:inline-block;
  /* padding-left: 10em; */
}

.nav-elements{
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  position: relative;
  left:2rem;
  margin-right: 6.25rem;

}

li a:hover {
  background-color: #30E3CB;
  border: solid #2BC4AD 1px;
}

h1{
  color:#66BFBF;
  font-size: 3.75rem;
  font-family: 'Sacramento', cursive;
  line-height: 2;
  margin:3rem auto 0 auto;
}
h2{
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 0.6rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
hr{
  border-style: dotted none none none;
  width: 5%;
  border-color:#EAF6F6;
  border-width: 0.3rem;
  margin: 6.25rem auto;
}
a{
  color:#0D4647;
  font-family: 'Montserrat', sans-serif;
  margin:0.6rem 1.25rem;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
p{
  line-height: 2;
}
.nav-header{
      background-color: #E4F9F5;
}
.top-container{
    background-color: #E4F9F5;
    padding-top: 6.25rem;
    position: relative;

}
.top-cloud{
  position: absolute;
right: 18.75rem;
  top: 4em;
}
.bottom-cloud{
bottom: 18.75rem;
left: 15.625rem;
position: absolute;
}
.pro{
text-decoration: underline;
}
.intro{
  width:30%;
  margin:auto;
}
.profile-img{
  width: 30%;
}
.code-img{
  width: 30%;
  float: left;
  margin-right: 2rem;
}
.netflix-img{
  width: 25%;
  float: right;
  margin-left: 2rem;
}
.skill-row{
  width:50%;
  margin:6.25rem auto 6.25rem auto;
  text-align: left;
  flex-basis: 40%
}
.skill-desc{

}
.contact-message{
  width:30%;
  margin:6.25rem auto;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.85rem;
  padding: 1.25rem 0;
}
.middle-container{
margin: 2.5rem auto 3.75rem;
}
.bottom-container{
background-color: #66BFBF;
padding: 3.125rem 0 1.25rem;
}
.BUTTON_GSP {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 0.5rem;
   -moz-border-radius: 0.5rem;
   border-radius: 0.5rem;
   color: #FFFFFF;
   font-family: 'Merriweather', serif;
   font-size: 1.25rem;
   font-weight: 100;
   padding: 0.8rem;
   -webkit-box-shadow: 1px 1px 0 0 #000000;
   -moz-box-shadow: 1px 1px 0 0 #000000;
   box-shadow: 1px 1px 0 0 #000000;
   text-shadow: 1px 0 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_GSP:hover {
   background: #30E3CB;
   border: solid #2BC4AD 1px;
   -webkit-border-radius: 1.5rem;
   -moz-border-radius: 1.5rem;
   border-radius: 0.5rem;
   text-decoration: none;
}
